./antlr
./compiler/generated/**
./compiler/build/**
./compiler/*.o
./compiler/*.out
./cmake-build-debug
./cmake-build-debug/**
.vscode
./compiler/Makefile
*Makefile
Makefile
./compiler/build
./compiler/build/*.o
./compiler/build/*.d